* {
    margin: 0;
    padding: 0;
    box-sizing: fit-content;

}

body {
    background-image: url('./image/pikachubg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    
}

.Pokedex-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.Pokedex-title {
    margin-bottom: 2%;
    font-size: 4.0rem;
}
.Pokedex-main {
    display:flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
    margin-top: 3%;
}

.Pokemon-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border: 2px solid rgb(211, 206, 206);
    padding: 2%;
    margin: 2%;
    background-color: #4444;
    border-radius: 15px;
    width: 18% ;
    height: 10%;
    color: #444;
}

li {
    font-weight: 600;    
    font-size: 1.4rem;
    text-shadow: 0.5px 0.5px 0 #ffffff;

}
.Pokemon-container:hover {
    transition: 600ms;
    background-color: rgba(241, 34, 11, 0.8);
    transform: scale3d(1.1, 1.1, 0.3);
    color:white;
    /* opacity: 0.8; */
    box-shadow: 10px 5px 5px black;
     /* wheat; */
}


h1 {
    color: white;
    text-shadow: 4px 3px 0 #000000;
}

h3 {
    color: white;
    text-shadow: 2px 1px 0 #000000;
    font-size: 1.5rem;
}
.Pokemon-card {
    width: 50%;
    margin-right: 5%; ;
}

.Pokemon-img {
    height: 96px;
    width: 96px;
}