body {
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
    background-color: #4444;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0.5px solid #4444;
    /* align-items: center; */
    height: 100vh;
}

.header {
    background-color: #444;
    width: 100%;
}
.Content-ul{
    display: flex;
    justify-content: center;
}
.Content-card {
    list-style: none;
    box-shadow: 0, 0, 3, 1, 5;
    border: 2px solid #444 ;
    margin: 10px;
    width: 20%;
}
footer {
    bottom: 0;
    position: fixed;    
}

footer h3 {

    
}